.App {
  text-align: center;
}

.header{
padding: 1rem
}

.topicsBar{
  list-style: none;
}

.topicsBar ul{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 1rem;
}

.sortbyButton{
  color: black
}

.articleList{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.articleImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
    height: auto;
}


@media (min-width: 600px){
 .App{
  display: grid;
  grid-template-areas: 
  'header header header'
  'links page login';
  grid-template-columns: 25% auto 10%;
  grid-template-rows: auto auto auto;
 }

 .header{
  grid-area: header;
 }

 .links{
  grid-area: links;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
 }

 .topicsBar{
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .topicsBar li{
  margin: 1rem;
 }

 .articleList{
 display: flex;
 flex-wrap: wrap;
 grid-area: articles;
 }

 .articleList li{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  }

 .articleCard{
  padding:1rem;
  margin: 1rem;
  width: 15rem;
 }
}


 .Login{
  grid-area: login;
 }

 

